{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "airbnb",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:security/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "ignorePatterns": [
    "client/dist/",
    "client/test",
    "server/dist/",
    "server/test/"
  ],
  "rules": {
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-explicit-any": 1,
    "@typescript-eslint/no-inferrable-types": [
      "warn",
      {
        "ignoreParameters": true
      }
    ],
    "arrow-parens": 0,
    "comma-dangle": 0,
    "consistent-return": 1,
    "import/extensions": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-unresolved": 0,
    "import/no-named-as-default": 0,
    "import/prefer-default-export": 1,
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1
      }
    ],
    "no-await-in-loop": 0,
    "object-curly-newline": 0,
    "react/jsx-filename-extension": 0,
    "strict": 0
  }
}